<div id="header">
    <div class="header-inner">
        <div class="col-md-12" style="z-index:9999999 !important; position:relative; clear:both; display:block; width:100%; padding:0;">

            <header class="position-relative pt-lg-4">

                <nav id="navigation" class="navigation navigation-justified">
                    <div class="navigation-header">
                        <div class="navigation-logo">
                            <a title="" href="Home"><img src="~/public/img/logo.png" class="no-border" /></a>
                        </div>
                        <div class="navigation-button-toggler">
                            <i class="hamburger-icon"></i>
                        </div>
                    </div>
                    <div class="navigation-body">
                        <div class="navigation-body-header">
                            <div class="navigation-logo">
                                <a title="" href="Home"><img src="~/public/img/logo.png" class="no-border" /></a>
                            </div>
                            <span class="navigation-body-close-button">&#10005;</span>
                        </div>
                        <ul class="navigation-menu">
                            <li class="navigation-item">
                                <a class="navigation-link" href="javascript://">
                                    Destination
                                    <!--                                    <span class="submenu-indicator"></span>-->
                                </a>
                                <div class="navigation-megamenu">
                                    <div class="navigation-megamenu-container">
                                        <div class="navigation-tabs">
                                            <ul class="navigation-tabs-nav">

                                                <li class="navigation-tabs-nav-item is-active">   <a href="#"> Asia</a></li>
                                                <li class="navigation-tabs-nav-item ">   <a href="#"> Europe</a></li>
                                                <li class="navigation-tabs-nav-item ">   <a href="#"> India</a></li>
                                                <li class="navigation-tabs-nav-item ">   <a href="#"> Africa</a></li>
                                                <li class="navigation-tabs-nav-item ">   <a href="#"> Oceania</a></li>

                                            </ul>



                                            <div class="navigation-tabs-pane  is-active ">
                                                <div class="navigation-row">
                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>middle east & eurasia</h5>

                                                            <img src="~/public/upload/region/small/1556537275.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/egypt-travel-guide.html">Egypt</a></li>

                                                                <li><a href="holidays/country/united-arab-emirates-travel-guide.html">United Arab Emirates</a></li>

                                                                <li><a href="holidays/country/turkey-travel-guide.html">Turkey</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>far east</h5>

                                                            <img src="public/upload/region/small/1555412982.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/singapore-travel-guide.html">Singapore</a></li>

                                                                <li><a href="holidays/country/malaysia-travel-guide.html">Malaysia</a></li>

                                                                <li><a href="holidays/country/indonesia-travel-guide.html">Indonesia</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>indian subcontinent</h5>

                                                            <img src="public/upload/region/small/1555413201.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/maldives-travel-guide.html">Maldives</a></li>

                                                                <li><a href="holidays/country/nepal-travel-guide.html">Nepal</a></li>

                                                                <li><a href="holidays/country/bhutan-travel-guide.html">Bhutan</a></li>



                                                                <li><a href="holidays/state/andaman-and-nicobar-islands-travel-guide.html">Andaman and Nicobar Islands</a></li>





                                                            </ul>

                                                        </div>
                                                    </div>




                                                    <!--                                                    <div class="col-md-4">
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                    </div>                                                    -->
                                                </div>

                                            </div>

                                            <div class="navigation-tabs-pane ">
                                                <div class="navigation-row">
                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>scandinavia</h5>

                                                            <img src="public/upload/region/small/1555412883.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/sweden-travel-guide.html">Sweden</a></li>

                                                                <li><a href="holidays/country/norway-travel-guide.html">Norway</a></li>

                                                                <li><a href="holidays/country/finland-travel-guide.html">Finland</a></li>

                                                                <li><a href="holidays/country/denmark-travel-guide.html">Denmark</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>western europe</h5>

                                                            <img src="public/upload/region/small/1555412890.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/switzerland-travel-guide.html">Switzerland</a></li>

                                                                <li><a href="holidays/country/spain-travel-guide.html">Spain</a></li>

                                                                <li><a href="holidays/country/france-travel-guide.html">France</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>




                                                    <!--                                                    <div class="col-md-4">
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                    </div>                                                    -->
                                                </div>

                                            </div>

                                            <div class="navigation-tabs-pane ">
                                                <div class="navigation-row">
                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>south india</h5>

                                                            <img src="public/upload/region/small/1555063228.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">


                                                                <li><a href="holidays/state/tamil-nadu-travel-guide.html">Tamil Nadu</a></li>

                                                                <li><a href="holidays/state/kerala-travel-guide.html">Kerala</a></li>

                                                                <li><a href="holidays/state/karnataka-travel-guide.html">Karnataka</a></li>



                                                                <li><a href="holidays/city/pondicherry-travel-guide.html">Pondicherry</a></li>

                                                                <li><a href="holidays/city/coorg-travel-guide.html">Coorg</a></li>



                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>east india</h5>

                                                            <img src="public/upload/region/small/1555413049.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">


                                                                <li><a href="holidays/state/sikkim-travel-guide.html">Sikkim</a></li>

                                                                <li><a href="holidays/state/west-bengal-travel-guide.html">West Bengal</a></li>

                                                                <li><a href="holidays/state/meghalaya-travel-guide.html">Meghalaya</a></li>

                                                                <li><a href="holidays/state/assam-travel-guide.html">Assam</a></li>

                                                                <li><a href="holidays/state/nagaland-travel-guide.html">Nagaland</a></li>

                                                                <li><a href="holidays/state/arunachal-pradesh-travel-guide.html">Arunachal Pradesh</a></li>





                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>north india</h5>

                                                            <img src="public/upload/region/small/1555072032.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">


                                                                <li><a href="holidays/state/himachal-pradesh-travel-guide.html">Himachal Pradesh</a></li>

                                                                <li><a href="holidays/state/jammu-and-kashmir-travel-guide.html">Jammu and Kashmir</a></li>

                                                                <li><a href="holidays/state/rajasthan-travel-guide.html">Rajasthan</a></li>

                                                                <li><a href="holidays/state/uttarakhand-travel-guide.html">Uttarakhand</a></li>



                                                                <li><a href="holidays/city/ladakh-travel-guide.html">Ladakh</a></li>

                                                                <li><a href="holidays/city/delhi-travel-guide.html">Delhi</a></li>



                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>central india</h5>

                                                            <img src="public/upload/region/small/1555413062.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">


                                                                <li><a href="holidays/state/odisha-travel-guide.html">Odisha</a></li>

                                                                <li><a href="holidays/state/madhya-pradesh-travel-guide.html">Madhya Pradesh</a></li>

                                                                <li><a href="holidays/state/gujarat-travel-guide.html">Gujarat</a></li>





                                                            </ul>

                                                        </div>
                                                    </div>




                                                    <!--                                                    <div class="col-md-4">
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                    </div>                                                    -->
                                                </div>

                                            </div>

                                            <div class="navigation-tabs-pane ">
                                                <div class="navigation-row">
                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>southern africa</h5>

                                                            <img src="public/upload/region/small/1555413080.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/south-africa-travel-guide.html">South Africa</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>



                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>eastern africa</h5>

                                                            <img src="public/upload/region/small/1555413094.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/seychelles-travel-guide.html">Seychelles</a></li>

                                                                <li><a href="holidays/country/mauritius-travel-guide.html">Mauritius</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>




                                                    <!--                                                    <div class="col-md-4">
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                    </div>                                                    -->
                                                </div>

                                            </div>

                                            <div class="navigation-tabs-pane ">
                                                <div class="navigation-row">
                                                    <div class="col-md-3">
                                                        <div class="navigation-col col-cont">
                                                            <h5>oceania</h5>

                                                            <img src="public/upload/region/small/1555413118.jpg" class="img-fluid w-100 " alt="Responsive image">
                                                            <ul class="navigation-list">
                                                                <li><a href="holidays/country/new-zealand-travel-guide.html">New Zealand</a></li>

                                                                <li><a href="holidays/country/australia-travel-guide.html">Australia</a></li>







                                                            </ul>

                                                        </div>
                                                    </div>




                                                    <!--                                                    <div class="col-md-4">
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                        <div class="mega-m-add">
                                                                                                            <img src="img/add1.jpg" class="img-fluid w-100" alt="Responsive image">

                                                                                                        </div>
                                                                                                    </div>                                                    -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>





                            <li class="navigation-item"><a class="navigation-link " href="tmx.html">Tailormade Experience</a></li>
                            <li class="navigation-item"><a class="navigation-link " href="mice.html">MICE</a></li>
                            <li class="navigation-item"><a class="navigation-link " href="blog.html">Blog</a></li>
                            <li class="navigation-item"><a class="navigation-link " href="about-us.html">About</a></li>


                        </ul>
                        <ul class="navigation-menu navigation-social-menu margin-top">

                            <li class="navigation-item">



                                <a class="navigation-link" title="" href="javascript://" data-target="#myModa1sign-in" data-toggle="modal"><i class="fa fa-user"></i></a>





                            </li>

                        </ul>
                    </div>
                </nav>




            </header>

        </div>
    </div>
</div>
