<div class="slide-banner">
    <div class="row demo-2">
        <!-- The carousel -->
        <div id="slider" class="sl-slider-wrapper">
            <div class="sl-slider">

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/andaman-and-nicobar-islands-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/12/12_1583318333.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/ladakh-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/13/13_1583318323.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/bhutan-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/15/15_1583318394.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/himachal-pradesh-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/16/16_1583318432.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/srinagar-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/17/17_1583318480.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/ooty-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/18/18_1583318512.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/sikkim-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/19/19_1583318951.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>






                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="0">
                    <a href="holidays/india/coorg-tour-packages.html">
                        <div class="sl-slide-inner">
                            <div class="bg-img bg-img-2 slide-banner"><img src="public/upload/homebanner/20/20_1583503535.jpg" alt="" title="" border=""></div>

                        </div>
                    </a>
                </div>


                <!--            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                  <div class="sl-slide-inner">
                    <div class="bg-img bg-img-3"></div>
                    <h2>Dum spiro, spero.</h2>
                  </div>
                </div>
                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
                  <div class="sl-slide-inner">
                    <div class="bg-img bg-img-4"></div>
                    <h2>Donna nobis pacem.</h2>
                  </div>
                </div>
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
                  <div class="sl-slide-inner">
                    <div class="bg-img bg-img-5"></div>
                    <h2>Acta Non Verba.</h2>
                  </div>
                </div>-->
            </div>
            <!-- /sl-slider -->
            <nav id="nav-arrows" class="nav-arrows"> <span class="nav-arrow-prev">Previous</span> <span class="nav-arrow-next">Next</span> </nav>
            <nav id="nav-dots" class="nav-dots"> <span class="nav-dot-current"></span> <span></span> <span></span> <span></span> <span></span> </nav>
        </div>
    </div>
</div>