<div class="row">
    <div class="indian-package-head">
        <h3>
            <a href="testimonial.html">
                Testimonials
                <div class="cl"></div>
                <span>what people say</span>
            </a>
        </h3>
    </div>
    <div class="indian-package">
        <div class="container">



            <div class="col-md-4">
                <div class="testim-box">
                    <div class="testim-box-brush"><img src="public/img/testi-brush-1.png" alt="" title=""></div>
                    <img src="public/upload/testimonial/1563345911.jpg" alt="" title="">

                </div>
                <div class="testim-box-bot">
                    <div class="clearfix" align="center"><img src="public/img/test-code.png" alt="" title=""></div>
                    <div class="more1">
                        <p><strong>19 Dec 2018</strong></p>

                        <p><em>We want to thank you for organizing our Singapore holidays. All the arrangements were very well chosen and&nbsp;we had a great time. The drivers were all very professional and&nbsp;knowledgeable. They had a great game plan and&nbsp;executed it well, which saved us time allowing us to be more effective.</em></p>
                    </div>
                    <div class="clearfix" align="center"><strong>Samyadev Datta</strong> </div>
                    <div class="clearfix " align="center"><img src="public/img/test-code1.png" alt="" title=""></div>
                </div>

            </div>



            <div class="col-md-4">
                <div class="testim-box">
                    <div class="testim-box-brush"><img src="public/img/testi-brush-2.png" alt="" title=""></div>
                    <img src="public/upload/testimonial/1573016067.jpg" alt="" title="">

                </div>
                <div class="testim-box-bot">
                    <div class="clearfix" align="center"><img src="public/img/test-code.png" alt="" title=""></div>
                    <div class="more1">
                        <p><strong>16&nbsp;July 2019</strong></p>

                        <p><em>We sincerely appreciate your efficient, gracious customer service, the level of detail and accountability you have demonstrated while planning our Australia trip, and the same way it has been executed seamlessly as a whole. We look forward to continuing this relationship for our future trips.</em></p>
                    </div>
                    <div class="clearfix" align="center"><strong>Saurabh Tambi - Jaipur</strong> </div>
                    <div class="clearfix " align="center"><img src="public/img/test-code1.png" alt="" title=""></div>
                </div>

            </div>



            <div class="col-md-4">
                <div class="testim-box">
                    <div class="testim-box-brush"><img src="public/img/testi-brush-3.png" alt="" title=""></div>
                    <img src="public/upload/testimonial/1573130918.jpg" alt="" title="">

                </div>
                <div class="testim-box-bot">
                    <div class="clearfix" align="center"><img src="public/img/test-code.png" alt="" title=""></div>
                    <div class="more1">
                        <p><strong>28 Oct 2019</strong></p>

                        <p><em>Thank you, Sayonestop Holidays Team. I had an awesome experience in Kerala. All the hotels were as promised and the food was great. The most exciting thing was the houseboat journey in Alleppey. The trip was satisfactory, soothing, and worth every penny.</em></p>
                    </div>
                    <div class="clearfix" align="center"><strong>Aditi Vats - Delhi</strong> </div>
                    <div class="clearfix " align="center"><img src="public/img/test-code1.png" alt="" title=""></div>
                </div>

            </div>



        </div>
        <!-- <div class="top-menu"> -->
    </div>

    <div class="clearfix"></div>
</div>