<div class="modal fade" id="myModa1Enquiry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="post" action="#" class="talktous" name="talktous_footer" autocomplete="off">
        <div class="modal-dialog modal-lx">
            <div class="modal-content">
                <div class="modal-header label-primary white" style="padding: 5px 5px">
                    <h5 class="" style="font-weight: 600;">Request A Call Back</h5>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true" style="margin-top:3px"><i class="fa fa-times" aria-hidden="true"></i></button>

                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="package_det_d_left_form no-padding" id="successmsg">
                            <h5 class="alert alert-warning" style="padding: 10px;" align="center">
                                <strong class="text-danger"><i class="fa fa-phone-square"></i> Call us on: </strong> <a style="color:#222 !important;" href="tel:+91-9717766099"><strong>+91-9717766099</strong></a>
                                <!--<span style="font-size:12px;">(Toll free)</span>-->
                            </h5>
                            <p align="center" class="no-margin">OR</p>
                            <h5 style="font-weight: 500; margin-left:5px;" align="center">Enter your contact details</h5>
                            <form>
                                <div class="colspan-enquiry" style="margin-left: 0px;">
                                    <div class="inputBox ">
                                        <div class="inputBoxIn name">
                                            <input type="text" name="name" id="textfield" class="txtField inputBox" placeholder="Full Name*" aria-label="Name" maxlength="50" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="colspan-enquiry" style="margin-left: 0px;">
                                    <div class="inputBox">
                                        <div class="inputBoxIn mail">
                                            <input type="text" name="email" id="email" class="txtField inputBox" placeholder="Email*" aria-label="Email" maxlength="50" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="colspan-enquiry" style="margin-left: 0px;">
                                    <div class="inputBox">
                                        <div class="inputBoxIn mobile">
                                            <input type="text" name="mobile" id="mobile" class="txtField inputBox" placeholder="Phone Number*" aria-label="Phone Number" maxlength="10" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="colspan-enquiry" style="margin-left: 0px;">
                                    <div class="inputBox">
                                        <div class="inputBoxIn">
                                            <textarea name="message" cols="" rows="" class="txtField inputBox" placeholder="Message/Query" aria-label="Message/Query" maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="colspan-enquiry1">
                                    <input checked type="checkbox" name="authoriseme" id="authoriseme" value="1" class="icheck-green-" style="">
                                    <span style="font-size:12px;margin-left: 10px;">I request and authorize Sayonestop Holidays and its representatives to contact me. </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="form_type" value="callback_request">
                <div class="modal-footer">
                    <span class="errormsg no-margin" style="color:#ff0000; padding-right: 10px;"></span>
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Send Enquiry </button>-->
                    <div align="center"><button type="submit" class="btn btn-danger sending modal-footer-btn">Submit</button></div>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>